<header id="js-header" class="u-header u-header--static">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation"
                        aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->


                <a href="../../index.html" class="navbar-brand d-flex">
                    <span id="fontlogo"><span class="font-bold">haus</span><span class="font-light" style="margin-left:3px;">verw</span><span class="font-bold">.de</span></span>
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                {% partial 'site/navigation' %}
                <!-- End Navigation -->

                <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"
                       href="https://admin.hausverw.de" target="_blank">Login</a>
                </div>
            </div>
        </nav>
    </div>
</header>