<!-- Register NEWSLETTER MODAL -->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static" data-keyboard="false" id="newsletterModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="staticBackdropLabel">
                    <br>
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">&nbsp;<span aria-hidden="true">×</span>&nbsp;</button>
            </div>
            <div class="modal-body">
                <iframe width="1000" height="1000" src="https://eb9d5160.sibforms.com/serve/MUIEAPlZriN6QmihaMCIbzynwDRmlc9calcPZvX0E89rUyBCSM-LjMVM1ILVZ1PmPTL5mWnIHfesHYq3vSIdZOEyw0NC54s2u2mFx3CEqs0YWysHSMm-DPw_bcBiAONO74iGOgCPeHUUG05DtGxP9wCoHPzKf_V41aB2UveW_hScnQSCrACWq2xxQabO_xQJqaGZQqPKLyQUTY2o" frameborder="0" scrolling="auto" allowfullscreen="" style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;" data-dashlane-frameid="14"></iframe>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Schliessen</button>
                <!--<button class="btn btn-primary" type="button">Understood</button>-->
            </div></div></div></div>
<!-- ende modal -->