<header class="text-center mb-4">
    <h2 class="h2 g-color-black g-font-weight-600">Sie haben Post!</h2>
    <p class="lead">
        Wir haben Ihnen den Aktivierungscode an Ihre E-Mail Adresse gesandt.
    </p>

</header>

<form
        class="g-py-15 g-mb-100"
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">Aktivierungssode</label>
        <input name="code" type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" id="resetCode" placeholder="Aktivierungscode hier eingeben" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">Neues Passwort</label>
        <input name="password" type="password" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" id="resetPassword" placeholder="Neues Passwort hier eingeben">
    </div>

    <div class="row">
        <div class="col align-self-center text-right">
            <button type="submit" class="btn btn-md u-btn-primary rounded g-py-13 g-px-25">Passwort wiederherstellen</button>
        </div>
    </div>
</form>
