<style>
    .ps-fstyle{
        color:{{chunk.font_color}} !important;
    font-weight:600 !important;
    }

    .imgbrightness {
        filter: brightness({{chunk.brightness}}%);
    }
</style>

<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-overflow-hidden" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
    <!-- Parallax Image -->

    <div style="height: 200%; background-image: url({{ chunk.bg_image|media}}); transform: translate3d(0px, -18.73696px, 0px);" class="divimage dzsparallaxer--target w-100 g-bg-repeat g-bg-gray-light-v4 imgbrightness"></div>
    <!-- End Parallax Image -->

    <div class="container g-z-index-1 g-py-{{chunk.spaceTB}}">
{% if chunk.heading_style == 1%}
        <h1 class="g-font-weight-300 g-letter-spacing-1 g-mb-15 ps-fstyle">{{chunk.title|nl2br}} </h1>
{% else %}
        <h2 class="h1 g-font-weight-300 g-letter-spacing-1 g-mb-15 ps-fstyle">{{chunk.title|nl2br}} </h2>
{% endif %}
        <div class="lead g-font-weight-400 g-line-height-2 g-letter-spacing-0_5 ps-fstyle">
            <p class="mb-0">{{chunk.text|nl2br}}</p>
        </div>
    </div>

</section>
