description = "Imprint, Agb usw"

[staticPage]
useContent = 1
default = 0

[staticMenu]
==
{% partial 'site/head_default' %}

<body>


<main>

    <!-- Header -->
    {% partial 'site/header_default' %}
    <!-- End Header -->

    <section class="container g-py-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">{{ this.page.title }}</h2>

                {% page %}

            </div>
        </div>
    </section>


    <!-- Footer -->
    {% partial 'site/footer' %}
    <!-- End Footer -->


    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<div class="u-outer-spaces-helper"></div>

{%partial 'site/scripts-footer'%}


</body>

</html>